MVST.Rproj
.Rproj.user
.Rhistory
.RData
vignettes/*.log
vignettes/*.aux
vignettes/*.tex
vignettes/*.tex~
vignettes/*.synctex.gz
vignettes/figure
vignettes/cache
src/*.o
src/*.so
..pdf
MVST.Rcheck
*.tar.gz
*.bbl
*.toc
*.dll
*.Rnw
*.bib
*~